* {
    box-sizing: border-box; /* Значения width/height задают высоту/ширину всего элемента. */
    font-family: Arial;
}
/* видимая часть тетриса */
.main {
    margin:  50px auto;
    position: relative; /* position: relative Относительное позиционирование сдвигает элемент относительно его обычного положения. */
    overflow: hidden;
    width: 500px;
    height: 700px;
    border: 1px solid black;
}
/* тетрис целиком (видимая+невидимая часть */
.tetris {
    width: 500px;
    height: 900px;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.918);
}
/*отрисовывает ячейки */
.excel {
    width: 50px;
    height: 50px;
    border: 1px solid rgba(233, 225, 225, 0.829);
}

.figure, .set {
    background-color: royalblue;
}
